In [1]:
from data_loader import *

In [2]:
#x = load_data()
x = load_obj('data_1')

In [3]:
x.head()

,title,score,log_score,date
0,healthy skin for the new year,1,0.301030,2017-11-01
1,president obama wants to give young leaders ar...,5,0.778151,2017-11-01
2,new york terror attack truck crash in lower ma...,1,0.301030,2017-11-01
3,eu japan ask un to condemn n korea over rights...,7,0.903090,2017-11-01
4,sell my miami house fast real estate solutions,1,0.301030,2017-11-01

In [4]:
def splitt(title):
    return title.split()

In [5]:
x['title_split'] = x['title'].apply(splitt)
title_word_length = x['title'].apply(splitt).apply(len)

In [6]:
print(np.min(title_word_length))
print(np.max(title_word_length))
print(np.mean(title_word_length))

3
62
12.041228333797475

In [7]:
from w2v import fasttext

In [8]:
model = fasttext()

In [9]:
#dir(model.wv)

In [10]:
#list(model.wv.vocab)
model['apply']

/home/qara/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

array([ 0.47198895, -0.8864994 , -0.15044719,  3.217712  ,  0.00719748,
       -0.16683146,  2.467169  ,  0.7769951 , -1.5274677 ,  3.1067438 ,
       -1.0274117 , -1.8003892 ,  0.8586595 , -1.3413031 , -1.8707067 ,
        0.44962943, -1.4187036 , -1.4048425 ,  0.03708965, -0.14510272,
       -3.7387834 , -1.4536693 , -0.96307504, -0.2893705 ,  2.1259365 ,
       -1.3991299 , -0.48621932, -0.81245303,  1.6293314 , -1.6540309 ,
       -0.19674015, -0.24648456,  0.13603316,  1.2936443 ,  0.8155285 ,
        0.6747868 , -0.81705767,  2.1477005 ,  0.37457106,  1.1204357 ,
        0.71242917, -0.4085135 , -1.9167292 ,  0.1720415 ,  0.473959  ,
       -1.6739705 ,  0.1358601 , -0.31878406,  0.43997708,  1.6443787 ,
        0.6679608 ,  0.51159066,  0.00685198, -1.5000716 ,  0.35857335,
        0.03216768, -1.1231972 ,  1.2367542 , -1.2078367 , -0.7643419 ,
        1.4213383 , -1.1706924 , -0.9760943 , -1.3039851 ,  0.6942429 ,
        1.036785  , -1.347768  , -0.18085386,  0.7216406 , -1.7005433 ,
       -1.8801379 , -3.4341187 , -1.8579961 ,  1.6236565 ,  1.2966045 ,
       -0.931671  ,  0.68759346,  0.23445   , -0.7888347 ,  1.4490077 ,
       -4.071574  , -0.540111  , -1.3363068 ,  0.6625242 ,  0.2844094 ,
       -0.41647995, -2.1801648 , -2.2071142 ,  1.1058466 , -0.23388611,
        1.1108582 ,  0.29513744, -0.608577  , -1.8592588 , -0.13811022,
       -2.1860769 , -0.09069493,  3.3385265 , -1.1027156 , -1.0599366 ],
      dtype=float32)

In [11]:
x.head()

,title,score,log_score,date,title_split
0,healthy skin for the new year,1,0.301030,2017-11-01,"[healthy, skin, for, the, new, year]"
1,president obama wants to give young leaders ar...,5,0.778151,2017-11-01,"[president, obama, wants, to, give, young, lea..."
2,new york terror attack truck crash in lower ma...,1,0.301030,2017-11-01,"[new, york, terror, attack, truck, crash, in, ..."
3,eu japan ask un to condemn n korea over rights...,7,0.903090,2017-11-01,"[eu, japan, ask, un, to, condemn, n, korea, ov..."
4,sell my miami house fast real estate solutions,1,0.301030,2017-11-01,"[sell, my, miami, house, fast, real, estate, s..."

In [12]:
def embed(split_title):
    return model[split_title]

def padding(embed_vec):
    pad_len = 60-len(embed_vec)
    return np.pad(embed_vec, ((pad_len, 0), (0, 0)), 'constant')

def embed_pad(split_title):
    pad_len = 60-len(split_title)
    return np.pad(model[split_title], ((pad_len, 0), (0, 0)), 'constant')

In [13]:
i=1
x.loc[100000*i:100000*(i+1), 'embed'] = x.loc[100000*i:100000*(i+1), 'title_split'].apply(embed_pad)
print(100000*i, 100000*(i+1))
i+=1

/home/qara/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  # Remove the CWD from sys.path while we load stuff.

0 100000

In [14]:
save_obj(x, 'data_1')

In [12]:
x.loc[:10, 'pad'] = x.loc[:10, 'embed'].apply(padding)

In [13]:
x.loc[:10, 'pad']

0     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
1     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
2     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
3     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
4     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
5     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
6     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
7     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
8     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
9     [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
10    [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
Name: pad, dtype: object

In [14]:
q = np.concatenate(x.loc[:9, 'pad'])
q.shape

(300, 100)